In [ ]:
#MySQL

In [ ]:
##1. Instalar las instancias

In [3]:
Instalar Mysql "pip install mysql-connector-python" y "pipenv install pandas"

In [ ]:
##2. Importacion de la base de datos.

In [5]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
##3. Conexion al servidor

In [6]:
##En caso de conexiones a base de datos locales
def create_server_connection(host_name,host_port,user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            port=host_port,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection
    
##Cambiar variables segun tu base de datos y guardar la conexion
connection_server=create_server_connection("localhost",3306,"root","2012solis")

MySQL Database connection successful

In [ ]:
##4. Creacion de base de datos

In [7]:

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE python"
create_database(connection_server, create_database_query)

Database created successfully

In [ ]:
##Conexion a base de datos

In [25]:
def create_db_connection(host_name,host_port,user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            port=host_port,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")


def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
##6. CRUD

In [19]:
#Crear tabla.
create_teacher_table = """
Create table usuarios(
id int AUTO_INCREMENT PRIMARY KEY,
user varchar(20),
gmail varchar(50), 
password varchar(50)
);
 """

#Connect to the Database
connection = create_db_connection("localhost","3306","root","2012solis","python")
# Execute our defined query
execute_query(connection, create_teacher_table)

MySQL Database connection successful
Query successful

In [23]:
#Insertar datos
pop_user = """
INSERT INTO usuarios VALUES
(2,'Daniel', 'solis@uabc.edu.mx', '111')
"""

connection = create_db_connection("localhost","3306","root","2012solis","python")
execute_query(connection, pop_user)

MySQL Database connection successful
Query successful

In [31]:
#Consultar.
q1 = """
SELECT *
FROM usuarios;
"""

connection = create_db_connection("localhost","3306","root","2012solis","python")
results = read_query(connection, q1)

for result in results:
  print(result)

MySQL Database connection successful
(2, 'Daniel', 'solis@uabc.edu.mx', '111')

In [28]:
#Actualizar datos.
update = """
UPDATE usuarios 
SET gmail = 'sela_creyo@uabc.edu.mx' 
WHERE id = 1;
"""

connection = create_db_connection("localhost","3306","root","2012solis","python")
execute_query(connection, update)

MySQL Database connection successful
Query successful

In [30]:
#Borrar.

#delete_course = """SELECT * FROM course;"""
delete_course = """
DELETE FROM usuarios WHERE id = 1;
"""

connection = create_db_connection("localhost","3306","root","2012solis","python")
execute_query(connection, delete_course)

MySQL Database connection successful
Query successful