In [ ]:
#SQLite3

In [ ]:
##1. Importar librerias y creacion de base de datos.

In [30]:
#Ya viene instalado con python.
import sqlite3
#si la base de datos no existe se crea automaticamnete
con = sqlite3.connect('ejemplo.db')
# cur variable para llamar los metodos de la base de datos
cur = con.cursor()

In [ ]:
##2. Creacion de tabla en la base de datos.

In [55]:
# Create table
cur.execute('''CREATE TABLE users
               (id int, 
               user text, 
               gmail text, 
               password text)''')

In [ ]:
##3. insertar datos

In [56]:
# Insertar variables en la tabla
cur.execute("INSERT INTO users VALUES (1,'Daniel','solis@uabc.edu.mx','123'),(2,'Jose','jose@uabc.edu.mx','123'), (3,'Martin','solis@uabc.edu.mx','123')")

# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#con.close()

In [ ]:
##4. Colsultar base de datos.

In [68]:
for row in cur.execute('SELECT * FROM users ORDER BY id'):
        print(row)

(2, 'Jose', 'sela.creyo@uabc.edu.mx', '123')
(3, 'Martin', 'solis@uabc.edu.mx', '123')

In [ ]:
##5. Borra base de datos/tabla

In [71]:
#Introduce el id que se quiere borrar datos
values = 1
cur.execute("DELETE FROM users WHERE id = '%s'"% values)
con.commit()

#comprobamos
for row in cur.execute('SELECT * FROM users ORDER BY id'):
        print(row)

(2, 'Jose', 'sela.creyo@uabc.edu.mx', '123')
(3, 'Martin', 'sela.creyo3@uabc.edu.mx', '123')

In [53]:
#Borrar tabla
cur.execute("DROP TABLE users")
con.commit()

In [72]:
#Borra base de datos
#cur.execute("DROP DATABASE ejemplo")
#con.commit()

In [ ]:
##6. Actualizar

In [70]:
id = 3
gmail = 'sela.creyo3@uabc.edu.mx'
cur.execute(f"UPDATE users SET gmail = {%gmail} WHERE id= {id}")
con.commit()